<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/hangmanPractice2/src/hangman/main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="hangman.main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="/users/guest/h/hartley9/240_projects/spellPractice/src/spell/test.txt&#10;the"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="hangmanPractice2"/>
</launchConfiguration>
